<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   <div class="navbar">

        <div class="container">
            <div class="nav">
                <div class="logo">
                    <p>Resident</p>
                    <p>Cinemax</p>
                </div>
                <ul>
                    <li><a href="/home.html">
                            <h3>home</h3>
                        </a></li>
                    <li><a href="/nowplaying.html">
                            <h3>now playing</h3>
                        </a></li>
                    <li><a href="/comingsoon.html">
                            <h3>coming soon</h3>
                        </a></li>
                    <li><a href="/login.html">
                            <h3>Login</h3>
                        </a></li>
                    <li><a href="/adminfilm.html">
                            <h3>Admin</h3>
                        </a></li>

                    <li><a href="/profile.html">
                            <h3>Profile</h3>
                        </a></li>
                </ul>
                <div class="humberger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
        <div class="content2">


            <div class="container">
                <div class="contentwrapp1">
                    <h1 class="nowplay">Coming Soon</h1>
                    <div class="wrapcard5">
                         <div class="card1">
                        <img src="./public/image/Ada.jpg" alt="">
                        <div class="categoriesAge">
                            <p>18+</p>
                        </div>
                        <div class="text3">
                            <div class="title">
                                <h2>Resident Evil 5</h2>
                            </div>

                            <div class="btn2">
                                <button><a href="/detail/<%= film.judul %>">View</a></button>
                                <button><a href="/tiket/">Buy Ticket</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="./public/image/aot1.jpg" alt="">
                        <div class="categoriesAge">
                            <p>13+</p>
                        </div>
                        <div class="text3">
                            <div class="title">
                                <h2>Attack On Titan</h2>
                            </div>

                            <div class="btn2">
                                <button><a href="/detail/<%= film.judul %>">View</a></button>
                                <button><a href="/tiket/">Buy Ticket</a></button>
                            </div>
                        </div>
                    </div>

                    <div class="card1">
                        <img src="./public/image/eternals.jpg" alt="">
                        <div class="categoriesAge">
                            <p>13+</p>
                        </div>
                        <div class="text3">
                            <div class="title">
                                <h2>The Eternals</h2>
                            </div>

                            <div class="btn2">
                                <button><a href="/detail/<%= film.judul %>">View</a></button>
                                <button><a href="/tiket/">Buy Ticket</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="./public/image/exhuma-4.jpg" alt="">
                        <div class="categoriesAge">
                            <p>13+</p>
                        </div>
                        <div class="text3">
                            <div class="title">
                                <h2>Exhuma</h2>
                            </div>

                            <div class="btn2">
                                <button><a href="/detail/<%= film.judul %>">View</a></button>
                                <button><a href="/tiket/">Buy Ticket</a></button>
                            </div>
                        </div>


                    </div>

                    </div>
                    
                    
                </div>
            </div>
            <div class="wrapcontent9">

             <div class="wrapfoot">
    
            <div class="logos1">
                <p><b>Resident</b></p>
                <p>Cinemax</p>
                
            </div>
            <div class="wrapfooter">
                <ul>
                    <li>
                       <a href="/home.html">Home</a>
                    </li>
                    <li>
                        <a href="">Privacy & Policy</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
            </div>

        </div>
<script>
  let humberger = document.querySelector(".humberger");
let nav = document.querySelector(".nav ul")
let item = document.querySelectorAll(".item1");
let textNav = document.querySelectorAll(".nav ul li a")
let spanHum = document.querySelectorAll(".humberger span")

humberger.addEventListener("click",()=>{
    nav.classList.toggle("active");
    for (let i = 0; i < 3; i++) {
        spanHum[i].classList.toggle("active")
        
    }
})
</script>
</body>

</html>